@import url('https://fonts.googleapis.com/css?family=Raleway:800i');

body#md {
    position: absolute;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left;
    left: 180px;
    right: 0px;
    margin: 0;
    padding: 0;
    max-width: none;
    color: #555;
    font-size: 15px;
    padding-right: 20px;
    overflow-x: hidden;
    text-overflow: ellipses;
}


.md .longTOC {
    width: 150px;
    display: block;
    border-right: 3px solid #00c8c8;
    overflow-y:scroll;
    font-size: 15px;
    font-family: inherit;
    background: #FFF;    
    position: absolute;
    top: 90px;
    left:-170px;
    bottom:0px;
    margin: 0px;
    padding: 0px;
}

.scrolled .md .longTOC {
    position: fixed;
    left: 0px;
    top: 0px;
    border-left: 10px solid #fff; 
}


/* no numbering of headings */
.md h1:before, .md h2:before, .md h3:before, .md h4:before, .md h5:before, .md h6:before { content: none; }

.md .longTOC a {
    color: #000;
}

.md .tocHeader, .md .tocNumber {
    display: none;
}

.md a,
.md div.title, contents, .md .tocHeader,
.md h1, .md h2, .md h3, .md h4, .md h5, .md h6,
.md .nonumberh1, .md .nonumberh2, .md .nonumberh3, .md .nonumberh4, .md .nonumberh5, .md .nonumberh6,
.md .shortTOC, .md .mediumTOC, .md .longTOC {
    font-family: inherit;
}


.md div.title, .md h1, .md h2, .md h3, .md h4 {
    font-family: 'Raleway', Arial;
    font-weight: 800;
}

.md h1, .md h2, .md h3, .md h4, .md h5, .md h6 {
    color: #0000ff;
    border-color: inherit;
}

.md h2, .md h3, .md h4 {
    border: none;
}

.md .tocTop {
    display: inline;
}

.md div.title, .md div.subtitle {
    text-align: left;
}

.md div.title {
    position: absolute;
    top: -14px;
    left:-180px;
    right: 10px;
    font-weight: 900;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-shadow: 0px 0px 3px #00c8c8;
    background-color: #00c8c8;
    background-image: url('../img/yo.jpg');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    color: #fff;
    font-size: 45px;
    z-index: 10;
}

.md div.afterTitles {
    height: 90px;
}

/* Added by me */

.flag {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: none;
}

#spanishflag { 
    background: url('../img/spain.svg') no-repeat;
}

#ukflag { 
    background: url('../img/uk.svg') no-repeat;
}
