
<h1>About the summer school</h1>

<p>
The Summer School on Informatics RIO is an academic event that is organized by
the Department of Computer Science of the University of Rio Cuarto, in Rio
Cuarto, Cordoba, Argentina. 
</p>

<p>
It has been annually organized without interruption (with the sole exception of
2021 and 2022, years in which, due to the COVID19 pandemic, the school had to be
suspended) since 1994, and takes place in late February, during Argentina’s
summer.
</p>

<p>
It offers intensive one-week courses on topics that span through all areas of
Computer Science. The target audience of the summer school is composed of
advanced undergraduate students, graduate students and researchers from
Argentina and the countries in the region, and the goal is to provide a learning
opportunity to keep up-to-date with the latest advances in Computer Science. 
</p>

<p>
Thus, the summer school invites distinguished researchers to teach courses on
their respective areas of expertise. The school allows us to foster interaction
between institutions, to connect researchers and research groups, and to provide
opportunities to students to directly interact with top international
researchers, and complement their formal education with the latest advances in
Informatics. Nearly 4000 students have attended the school, throughout the
years.
</p>

<p>
Given the geographical distance of Argentina and South America from the main
Computing research centers in the world, concentrated in Europe, North America
and Asia, events such as our summer school constitute some of the few
opportunities that many students and young researchers have, for in-person
interaction with top researchers, and to be exposed to advanced research topics.
</p>