#covertitle {
    font-weight: bold;
    color: green;
}

#escudo-cover {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
}

.sidebar {
    width: 250px;
}

.markdown-section {
    font-size: x-large;
}

.markdown-section h2 {
    padding-top: 2rem;;
}

.markdown-section li {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.markdown-section > :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    font-size: 1rem;
}

.app-name-link > img {
    width: 40%;
}

.imgcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.imgsep {
    margin-left: 50px;
}

.markdown-section hr {
    margin-top: 15rem;
}

/* captions */
h4 {
    text-align: center;
    font-style: italic;
}

.divcenter {
    text-align: center;
}

.markdown-section em {
    color: #34495e !important;
}

.markdown-section table {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 800px) {
    .markdown-section {
        font-size: small;
    }
    
    .markdown-section h1 {
        margin: 0px;
        padding: 0px;
    }
    
    .markdown-section h2 {
        margin: 0px;
        padding: 0px;
    }
    
    .markdown-section h3 {
        margin: 0px;
        padding: 0px;
        font-size: 1.1rem;
    }
    
    .markdown-section li {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .markdown-section p {
        margin: 0px;
    }

    .markdown-section blockquote {
        margin: 5px;
    }
}

@media print {
    hr {
        display: none;
        page-break-after: always;
    }
}
