body {
    padding: 1em;
    font-family: "Times New Roman", Times, serif;
    background-color: GhostWhite;
    font-size: 16px;
}

blockquote {
    text-align: center;
}

figure {
    text-align: center;
}
